<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <title>연습</title>
</head>

<body>
    <nav>
        <span type="button">홈</span>|
        <span type="button">메뉴1</span>|
        <span type="button">메뉴2</span>|
        <span type="button">메뉴3</span>|
    </nav>

    <header>
        <div class="hd_text">
            <p class="hd_title">조용하고 따뜻한 남쪽으로 오세요</p>
            <p class="hd_detail">도시를 떠나서<br>자연을 누리세요</p>
        </div>
        <div class="slide-indicators">
            <button class="btn-slide current"></button>
            <button class="btn-slide"></button>
            <button class="btn-slide"></button>
        </div>
        <div class="slide-container">
            <div class="slide-box">
                <img src="/static/1.jpg">
            </div>
            <div class="slide-box">
                <img src="/static/2.jpg">
            </div>
            <div class="slide-box">
                <img src="/static/3.jpg">
            </div>
        </div>

        </div>
    </header>

    <script>
        const btn = document.querySelectorAll('.btn-slide')

        btn.forEach((element, index) => {
            element.addEventListener('click', function (e) {
                $('.btn-slide').removeClass('current')
                e.target.classList.add('current')
                moveBackground(index)
            })
        })

        function moveBackground(index) {
            var temp = (index * (-100)).toString()
            document.querySelector('.slide-container').style.transform = "translateX(" + temp + "vw)"
        }

    </script>
</body>

</html>